.header-style{

height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
border-width: 1px;
border-style: solid;
border-color: rgb(192, 192, 192);
border-radius: 2px;
margin-bottom: 20px;
margin-right: -4px;
box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.01);
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;

background-color: white;
opacity: 1;




}

.left-section{
display: flex;
width: 150px;
align-items: center;

}

.middle-section{
display: flex;
flex: 1;
margin-left: 40px;
margin-right: 30px;
max-width: 500px;
align-items: center;
}

.right-section{

width: 182px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-right: 24px;
flex-shrink: 0;
}


.Search-bar{
flex: 1;
max-width:350px;
height: 36.3px;
padding-left: 10px;
font-size: 16px;
border-width: 1px;
border-style: solid;
border-color: rgb(192, 192, 192);
border-radius: 2px;
box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);



}

.Search-bar::placeholder{

font-family: Roboto;


}

.hamburger{

height: 24px;
margin-left: 24px;
margin-right: 20px;

}

.youtube-logo{

   height: 20px;
}

.Search-Img{

width: 60px;
height: 40px;
margin-right: 8px;
margin-left: -1px;
border-color:  rgb(192, 192, 192);
border-width: 1px;
border-radius: 2px;
border-style: solid;
cursor: pointer;
transition: background-color 0.2s;

}


.Search-Img:hover{

   background-color: rgb(245,245,245);




}

.Voice-Img{

width: 40px;
height: 40px;
border-radius: 20px;
justify-content: center;
border: none;
cursor: pointer;

}

.Search-Img:hover{





}


.upload{
width: 28px;
height: 35px;
border: none;
background-color: white;
cursor: pointer;
padding-right: 10px;


}

.apps{

width: 28px;
height: 35px;
border: none;
background-color: white;
cursor: pointer;



}



